body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    color: #102746;
    margin: 0;
    background-color: #F2F2F2;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
}

figcaption {
    margin: 0;
}

*:focus {
    outline: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

li {
    list-style-type: none;
}
ul {
    margin-left: 0;
    padding-left: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 1.2;
    color: #102746;
}

h2.title__blue__line {
    position: relative;
    padding-bottom: 10px;
}

h2.title__blue__line:after {
    display: block;
    content: "";
    height: 3px;
    width: 253px;
    background-color: #006DFE;

    position: absolute;
    bottom: 0;
    left: 0;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
}


/*BUTTONS*/
.btn {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1;
    color: white;
    text-transform: uppercase;

    padding: 15px 40px;
    border: 0 none;

    cursor: pointer;
    transition: background-color .7s linear;
}

.btn--search {
    background-color: #1B7DFF;
}

.btn--more {
    background-color:  #006DFE;
    padding: 15px 20px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;

    /*width: 118px;*/
}

.btn--search:hover, .btn--search:active, .btn--search:focus {
    background-color: #1b65c9;
}

.btn--more:hover, .btn--more:active, .btn--more:focus {
    background-color: #005FD6;
}

.btn__arrow {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
    color: #006DFE;

    background: url("../img/shapes/arrow__right.svg") no-repeat right center;
    display: inline-block;
    padding-right: 55px;

    border-bottom: 1px transparent solid;
    transition: border-bottom .7s linear;
}

.btn__arrow:focus, .btn__arrow:hover {
    border-bottom: 1px #006DFE solid;
}
/*BUTTONS==========================================================*/


/*HEADER*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    transition: background-color, padding-bottom .2s linear;
}

.header.active {
    background-color: #0E1D28;
    padding-bottom: 25px;
}

.header.active .header__inner {
    margin: 25px 100px 0 100px;
}

.header__inner {
    margin: 55px 100px 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    transition: margin .2s linear;
}
/*HEADER===============================================*/


/*NAV*/
.nav {
    display: flex;
    flex-wrap: wrap;
}

.nav__link {
    margin-right: 80px;
    font-size: 18px;
    line-height: 1.2;
    color: white;
    transition: opacity .7s linear;
}

.nav__link:last-child {
    margin: 0;
}

.nav__link:hover, .nav__link:focus, .nav__link:active {
    opacity: .7;
}
/*NAV================================================*/


/*INTRO*/
.intro {
    background: url("../img/intro.png") center no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 220px;
}

.intro__inner {
    margin: 0 100px 0 100px;
    padding-top: 260px;

    color: white;
}

.intro__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 1.2;

    max-width: 619px;
    margin-bottom: 20px;

}

.intro__text {
    font-size: 16px;
    line-height: 1.5;

    max-width: 546px;
    margin-bottom: 60px;
}

/*SEARCH FORM INTRO*/
.intro__search__form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.search__input {
    background: transparent url("../img/shapes/Oval.svg") no-repeat;
    background-size: 20px;

    width: 297px;
    height: 40px;
    margin-right: 60px;
    padding: 0 0 15px 45px;

    border: 0;
    border-bottom: 2px white solid;

    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
}

.search__input::placeholder {
    color: white;
    opacity: 1;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;

    top: 50px;

    transition: opacity .7s linear;
}

.search__input:focus::placeholder {
    opacity: .5;
}
/*INTRO========================================================*/


/*BENEFITS*/
.benefits__inner {
    background-color: white;
    box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
    padding: 95px 100px 110px 100px;

    margin-top: -220px;
}

.benefits__title {
    margin-bottom: 120px;
}

.benefits__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
}

.benefits__item {
    grid-column: span 1;
}

.benefits__item__img {
    display: block;
    margin-bottom: 35px;
}

.benefits__item__title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 25px;
}

.benefits__item__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
}
/*BENEFITS=====================================================*/


/*PLACES*/
.places {
    margin: 130px 0;
}

.places__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.places__title {
    margin-right: 15px;
}

.places__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.places__card {
    position: relative;
    overflow: hidden;
}

.places__card:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places__card:hover .places__card__img {
    transform: scale(1.2);
}

.places__card.half {
    grid-column: span 3;
}

.places__card.third {
    grid-column: span 2;
}

.places__card__name {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.2;
    color: #FFFFFF;

    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 3;
}

.places__card__img {
    width: 100%;
    height: 354px;
    object-fit: cover;
    transition: transform .7s linear;

    position: relative;
}

.places__card__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 0;
    color: transparent;
    z-index: 4;
}
/*PLACES========================================================*/


/*TOURS*/
.tours{
    margin-bottom: 140px;
}

.tours__tour{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0 78px;
    align-items: center;
    margin-bottom: 75px;
}

.tours__tour__img{
    transition: transform .7s linear;
}

.last__item{
    order: 1;
}

.tours__tour__img:hover{
    transform: scale(1.02);
}

.tours__tour__info{
    padding: 0 30px 0 35px;
}

.tours__tour__title{
    font-weight: 500;
    font-size: 30px;
    line-height: 1.3;
    color: #102746;

    margin-bottom: 85px;
}

.tours__tour__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #102746;
    margin-bottom: 60px;
}
/*TOURS=========================================================*/


/*TOP PLACES*/
.top{
    margin-bottom: 145px;
}

.top__header{
    margin-bottom: 55px;
}

.top__cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 58px;
}

.top__card__pic{
    position: relative;
    margin-bottom: 45px;
}

.top__card__stat{
    width: 100%;
    height: 55px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(21, 24, 36, 0.6);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 25px;

    transition: height .1s linear;
}

.top__card:hover .top__card__stat{
    height: 60px;
}

.top__card__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    color: #FFFFFF;
    text-transform: uppercase;
}

.top__card__reaction{
    display: flex;
}

.top__card__number{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    margin-right: 10px;
}

.top__card__icon{
    margin-right: 15px;
}

.top__card__icon:last-child{
    margin-right: 0;
}

.top__card__text{
    margin-bottom: 55px;

    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #102746;
    max-height: 75px;
    overflow: hidden;
}
/*TOP PLACES======================================================*/



/*VIDEOS*/
.videos{
    width: 100%;
}

.videos__container{
    max-width: 2500px;
    margin: 0 auto;
    position: relative;
}

.video__item{
    padding-top: 56.25%;
}

.video__elem{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*VIDEOS=============================================================*/



/*FOOTER*/
.footer{
    width: 100%;
    background-color: #0E1D28;
}
.footer__inner{
    display: flex;
    flex-wrap: wrap;
    padding: 120px 0;
}
.footer__nav{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__logo{
    width: 50%;
}
.footer__logo__img{
    height: 64px;
    width: 170px;
}

.footer__nav__item{
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 4px;
}
.footer__nav__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
}
.footer__nav__link{
    color: inherit;
    font-size: 16px;
    line-height: 1.5;

    transition: opacity 0.7s linear;
}

.footer__nav__link:hover, .footer__nav__link:focus, .footer__nav__link:active {
    opacity: .7;
}


/*/FOOTER==========================================================*/